@charset "utf-8";
/*文本超出不换行且自动转化为...*/
.nowrap{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/*文本超出不换行且自动转化为... end*/
body{font:12px "Microsoft YaHei","宋体",tahoma,Arial;color:#666;-webkit-font-smoothing:antialiased;}
a{text-decoration:none;color:#6c6c6c;}
a:hover{color:#f40;}
/*功能区 start*/
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clearfix:after{content:"";height:0;display:block;overflow:hidden;visibility:hidden;clear:both;}
.clearfix{*zoom:1;}
.tc{text-align:center;}
.db{display:block;}
.bc{margin-left:auto;margin-right:auto;}

.w960{width:960px;margin-left:auto;margin-right:auto;}
.w980{width:980px;margin-left:auto;margin-right:auto;}
.w1000{width:1000px;margin-left:auto;margin-right:auto;}
.w1100{width:1100px;margin-left:auto;margin-right:auto;}
.w1170{width:1170px;margin-left:auto;margin-right:auto;}
.w1190{width:1190px;margin-left:auto;margin-right:auto;}
.w1200{width:1200px;margin-left:auto;margin-right:auto;}
.w1500{width:1500px;margin-left:auto;margin-right:auto;}

/*padding*/
.p5{padding:5px}.p10{padding:10px}.p15{padding:15px}
.p20{padding:20px}.p25{padding:25px}.p30{padding:30px}
.pt5{padding-top:5px;}.pt10{padding-top:10px;}.pt15{padding-top:15px;}
.pt20{padding-top:20px;}.pt25{padding-top:25px;}.pt30{padding-top:30px;}
.pl5{padding-left:5px;}.pl10{padding-left:10px;}.pl15{padding-left:15px;}
.pl20{padding-left:20px;}.pl25{padding-left:25px;}.pl30{padding-left:30px;}
.pb5{padding-bottom:5px;}.pb10{padding-bottom:10px;}.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}.pb25{padding-bottom:25px;}.pb30{padding-bottom:30px;}
.pr5{padding-right:5px;}.pr10{padding-right:10px;}.pr15{padding-right:15px;}
.pr20{padding-right:20px;}.pr25{padding-right:25px;}.pr30{padding-right:30px;}
/*margin*/
.m5{margin:5px;}.m10{margin:10px;}.m15{margin:15px;}
.m20{margin:20px;}.m25{margin:25px;}.m30{margin:30px;}
.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt15{margin-top:15px;}
.mt20{margin-top:20px;}.mt25{margin-top:25px;}.mt30{margin-top:30px;}
.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml15{margin-left:15px;}
.ml20{margin-left:20px;}.ml25{margin-left:25px;}.ml30{margin-left:30px;}
.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr15{margin-right:15px;}
.mr20{margin-right:20px;}.mr25{margin-right:25px;}.mr30{margin-right:30px;}
.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}.mb25{margin-bottom:25px;}.mb30{margin-bottom:30px;}
/*功能区 end */
/*倒三角和正三角*/
.dsj{width: 0;height: 0;border:3px solid transparent;border-top-color: #999;position:relative;z-index: 999;}
.zsj{width: 0;height: 0;border:3px solid transparent;border-bottom-color:#2bb8aa;position:relative;z-index: 999}
/*评分小星星--用iconfont start*/
/*金星最好用单独的标签或加class，方便识别。*/
.silver-star{position:relative;display:inline-block;*display:inline-block;}
.golden-star{color:#f76120;position:absolute;left:0;top:0px;width:88%;white-space:nowrap;overflow: hidden;}
/*样式重置 start*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,textarea,input,th,td,pre,button{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
ul,ol{list-style: none;}
fieldset,img{border:0 none;vertical-align:middle;}
/* ins del strong 常用没有重置样式 */
b,i,address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
abbr,acronym{border:0;}
/*input会有2px的边框，看情况取消！！！
行内input容易受空格影响，可加浮动解决*//*input{border:0 none;outline:0 none;}*/
input{outline:0 none;vertical-align:top;}
q:before,q:after{content:'';}
table{border-collapse:collapse;border-spacing:0;}
/*样式重置 end*/

/*图标字体 start*/
/*@font-face {
  font-family: 'iconfont';
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('font/iconfont.woff') format('woff'),
  url('font/iconfont.ttf') format('truetype'),
  url('font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-style:normal;font-size:16px;
  -webkit-font-smoothing:antialiased;
  -webkit-text-stroke-width:0.2px;
  -moz-osx-font-smoothing:grayscale;
}*/
/*图标字体 end*/